body {
    background-color: honeydew;
}

.titles {
    text-align: center;
    margin-bottom: 30px;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 30%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.navbar {
    background-color: teal !important;
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust spacing between cards as needed */
    justify-content: center; /* Center-aligns the cards in rows */
    max-width: 100%;
}

.habit {
    width: 18rem; /* Ensures each habit card has the same width */
}

.primary-button {
    background-color: teal;
    color: white;            
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.primary-button:hover {
    background-color: rgb(0, 97, 97);
}

.delete-button {
    background-color:firebrick;
    color: white;            
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.delete-button:hover {
    background-color:rgb(144, 28, 28);
}